*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background: red;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 25px;
}